{{>stylesheetlinks}}
<link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
{{>navbar}}

<div class="container">
    <div class="row mt-3">
        <div class="col-2 border">
            <div>
                <img src="https://images.unsplash.com/photo-1453396450673-3fe83d2db2c4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80" class="img w-75 h-50 rounded-circle mx-auto d-block" alt="hero">
                <input type="file" name="profilePicture" id="upload-btn" class="file-input" accept="image/*">
                <label class="file-input-label" for="upload-btn"><i class="fas fa-solid fa-upload"></i> Upload Picture</label>
            </div>
            <div>
                <h2 class="text-center">Full Name</h2>
            </div>
            <div class="mt-4">
                <h5 class="float-start"><a href="#" class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Orders</a></h5>
                <h5 class="float-end"><a href="#" class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Wishlist</a></h5>
            </div>
            <div>
                <h5 class="float-start"><a href="#" class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Comments</a></h5>
                <h5 class="float-end"><a href="#" class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Reviews</a></h5>
            </div>
        </div>

        <div class="col-10 border">
            <h2 class="text-center text-success">Profile Information</h2>
            <div class="row g-3 mt-4">
                <div class="col-6">
                    <form action="/profile" method="post" class="container mx-2">
                    {{#if profile}}
                        <div class="col mb-2">
                            <input type="text" name="firstName" class="form-control" placeholder="First name" value="{{profile.firstName}}" aria-label="First name">
                        </div>
                        <div class="col">
                            <input type="text" name="lastName" class="form-control" placeholder="Last name" value="{{profile.lastName}}" aria-label="Last name">
                        </div>
                        <button type="submit" class="btn btn-success mt-2">Submit</button>
                        {{else}}
                        <div class="col mb-2">
                            <input type="text" name="firstName" class="form-control" placeholder="First name" value="{{profile.firstName}}" aria-label="First name">
                        </div>
                        <div class="col">
                            <input type="text" name="lastName" class="form-control" placeholder="Last name" value="{{profile.lastName}}" aria-label="Last name">
                        </div>
                        <button type="submit" class="btn btn-success mt-2">Submit</button>
                    {{/if}}
                    </form>
                </div>
                <div class="col-6">
                    <form action="#" method="post" class="container">
                        <div class="col mb-2">
                        {{#if email}}
                            <input type="text" name="email" class="form-control" placeholder="Email" value="{{email.email}}" aria-label="Email">
                        {{else}}
                            <input type="text" name="email" class="form-control" placeholder="Email" aria-label="Email">
                        {{/if}}
                        </div>
                        <div class="col">
                            <input type="text" name="phone" class="form-control" placeholder="Phone Number" aria-label="Phone Number">
                        </div>
                        <button type="submit" class="btn btn-success mt-2">Submit</button>
                    </form>
                </div>
                <div class="row">
                    <div class="col-6s">
                        <form action="/profile/address" method="post" class="container">
<!--                            <select class="form-select" aria-label="Default select example">-->
<!--                                <option selected>Select District</option>-->
<!--                                <option value="1">One</option>-->
<!--                                <option value="2">Two</option>-->
<!--                                <option value="3">Three</option>-->
<!--                            </select>-->
                            {{#if address}}
                            <div class="col mb-2">
                                <input type="text" name="country" class="form-control" placeholder="Country"  value="{{address.country}}" aria-label="Country">
                            </div>
                            <div class="col mb-2">
                                <input type="text" name="address" class="form-control" placeholder="Address" value="{{address.address}}" aria-label="Address">
                            </div>
                            <div class="col mb-2">
                                <input type="text" name="city" class="form-control" placeholder="City" value="{{address.city}}" aria-label="City">
                            </div>
                            <div class="col mb-2">
                                <input type="text" name="state" class="form-control" placeholder="State" value="{{address.state}}" aria-label="State">
                            </div>
                            <div class="col">
                                <input type="text" name="postalCode" class="form-control" placeholder="Postal Code" value="{{address.postalCode}}" aria-label="Postal Code">
                            </div>
                            <button type="submit" class="btn btn-success mt-2">Submit</button>
                            {{else}}
                                <div class="col mb-2">
                                    <input type="text" name="country" class="form-control" placeholder="Country" aria-label="Country">
                                </div>
                                <div class="col mb-2">
                                    <input type="text" name="address" class="form-control" placeholder="Address" aria-label="Address">
                                </div>
                                <div class="col mb-2">
                                    <input type="text" name="city" class="form-control" placeholder="City" aria-label="City">
                                </div>
                                <div class="col mb-2">
                                    <input type="text" name="state" class="form-control" placeholder="State" aria-label="State">
                                </div>
                                <div class="col">
                                    <input type="text" name="postalCode" class="form-control" placeholder="Postal Code" aria-label="Postal Code">
                                </div>
                                <button type="submit" class="btn btn-success mt-2">Submit</button>
                            {{/if}}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>